*{
    margin: 0;
    padding: 0;
    border:  0;
}

.card-body{
    text-align: center;
    width: 400px;
    padding: 20px 20px;
    position: relative;
    top: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: solid 1px deeppink;
    -webkit-border-radius: 12px; 
    -moz-border-radius: 12px; 
    border-radius: 12px;
}


.form-control{
    position: relative;
    left: calc(50% - 50px);
    width: 100px;
    text-align: center; 
    border: solid 1px deeppink ;
    -webkit-border-radius: 12px; 
    -moz-border-radius: 12px; 
    border-radius: 12px;
}


.table-responsive{
    display: none;
}