.form-container{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    margin: 10px ;
}

.form-inline{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    margin: 10px 0px;
}

.table-responsive{
    display: none;
}

input{
    width: 30%;S
}