html, body {
    height: 100%;

}
body {
    min-width: 600px;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Tahoma", Sans Serif;
   
}


th, td {
  text-align: center;
}

#tabela{
    border: 1px solid #777;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.fil{
    border-top: 1px solid #777;
}

.form{
    margin-right: 10px; 
}

.fil label{
    margin: 5px 10px;
}

#containerConsulta1{
    margin: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%),url("startup-desktop.jpg");
    background-size: cover;
    
}

#containerConsulta2{
    margin: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%),url("pedestrians-918471_1280.jpg");
    background-size: cover;
    
}

.card{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
}

tbody tr:hover{
    cursor:pointer;
}

.fundoConsulta{
    background-color: rgb( 233, 235, 238);
}

.bg-foo{
    background-color: rgb(66, 103, 178);
    color: white;
}